.screen-row {
  height: 3em;
  padding: 0 0 0.1em 0;
}

.screen-box {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 1em;
  border: black solid;
  border-width: 0.1em 0.2ex 0.1em 0.2ex;
  margin: 0 1ex 0 1ex;
  padding: 1em 2ex 1em 2ex;
}

.screen-box.selected {
  color: red;
}

.screen-name {
  height: 1em;
}

.line-row {
  height: 2.5em;
}

.line-box {
  display: inline-block;
  position: absolute;
  height: 2.5em;
}

.line-box div {
  height: 50%;
  border-width: 0.1em;
}

.line-box-top {
  border-bottom-style: solid;
}
